.aside-main-section{
    padding: 4.375rem 4.375rem 4.375rem 4.375rem;
    color: var(--sec-dark-purple);
}
.main-second-half>img{
    width: 100%;
}
.product-page-main-heading{
  display: flex;
  align-items: center;
  gap: 10px;
}